@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

@layer base {
	:root {
		--primary-5: 214 82% 11%; /* hsl(214 82% 11%) */
		--primary-10: 218 85% 16%; /* hsl(218 85% 16%) */
		--primary-20: 219 67% 31%; /* hsl(219 67% 31%) */
		--primary-30: 218 66% 38%; /* hsl(218 66% 38%) */
		--primary-40: 206 76% 51%; /* hsl(206 76% 51) */
		--primary-50: 194 99% 49%; /* hsl(194 99% 49%) */
		--primary-90: 181 100% 71%; /* hsl(181 100% 71%) */

		--point: 120 100% 48%; /* hsl(120 100% 48%) */

		--stat-at: 185.69 93.55% 48.63%; /* hsl(185.69 93.55% 48.63%) */
		--stat-ht: 57.78 100% 52.35%; /* hsl(55 85% 50%) */
		--stat-ct: 35.8 98.35% 47.45%; /* hsl(35.8 98.35% 47.45%) */
		--stat-ds: 180 100% 51.96%; /* hsl(180 100% 51.96%) */
		--stat-ev: 94.62 100% 49.61%; /* hsl(94.62 100% 49.61%) */
		--stat-de: 60 100% 50.39%; /* hsl(60 100% 50.39%) */
	}
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	min-height: 100vh;
}

p {
	line-height: 1.5;
}

a {
	color: inherit;
}

li,
dt,
dd {
	list-style: none;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	appearance: none;
	border: none;
	background-color: transparent;
}

button {
	cursor: pointer;
}

button:focus:not(:focus-visible) {
	outline: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.ir {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

@layer components {
	.scroll-box {
		@apply overflow-y-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-gray-500;
	}
	.text-logo {
		background: linear-gradient(to bottom, #fef102, #ed7000);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		filter: drop-shadow(0 0 5px #0267b6);
	}
}
