@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	min-height: 100vh;
}

p {
	line-height: 1.5;
}

a {
	color: inherit;
}

li,
dt,
dd {
	list-style: none;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
	appearance: none;
	border: none;
	background-color: transparent;
}

button {
	cursor: pointer;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.ir {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

@layer components {
	.scroll-box {
		@apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-gray-500 overflow-y-auto;
	}
}
