@import 'tailwindcss/base';
@import 'tailwindcss/components';

@layer base {
	:root {
		/* card sizes */
		--card-w: 152px;
		--card-h: 240px;
		--current-card-scale: 1.1;
		--current-card-w: calc(var(--card-w) * var(--current-card-scale));
		--card-gap: 20px;
		--card-carousel-w: calc(
			var(--current-card-w) + (var(--card-w) * 2) + (var(--card-gap) * 2)
		);
	}
	@media screen and (max-width: var(--breakpoint-sm)) {
		:root {
			--card-gap: 0px;
		}
	}
}

@layer components {
	/* 뽑기 시뮬레이터 */
	.bg-gacha {
		background-color: black;
	}
	.bg-gacha-popup {
		@apply bg-gradient-to-b from-gacha-30 to-black;
	}
	.bg-gacha-common {
		@apply bg-gradient-to-b from-[#082036] to-[#071C30];
	}
	.bg-gr-b {
		@apply bg-gradient-to-b from-transparent to-[#00000033];
	}
	.bg-gr-t {
		@apply bg-gradient-to-t from-transparent to-[#00000033];
	}
	.bg-gr-l {
		@apply bg-gradient-to-l from-transparent to-[#00000033];
	}
	.bg-gr-r {
		@apply bg-gradient-to-r from-transparent to-[#00000033];
	}
	.bg-gacha-card {
		background: linear-gradient(
			to bottom right,
			#1c1b36aa,
			#0c0b17aa 50%,
			#070711aa 51%
		);
		box-shadow: inset 2px 2px 3px #312d59;
	}
	.bg-gacha-card-selected {
		background: linear-gradient(
			to bottom right,
			#302a2eaa,
			#201b13aa 50%,
			#1c170daa 51%
		);
		box-shadow: inset 2px 2px 3px #40374d;
	}
	.bg-gacha-skip-loading {
		background: linear-gradient(
			to bottom right,
			#4d5666,
			#494a5b 30%,
			#323940 55%
		);
		box-shadow: inset 1px 1px 2px #666a78;
	}
	.bg-gacha-call-1 {
		@apply border-t border-[#266960] bg-gradient-to-br from-[#307B6B] to-[#01F388];
		box-shadow: inset 1px 1px 2px #3db196;
	}
	.bg-gacha-call-10 {
		@apply border-t border-[#6c2953] bg-gradient-to-br from-[#833767] to-[#CF0557];
		box-shadow: inset 1px 1px 2px #b14f92;
	}
	.bg-gacha-confirm {
		@apply border-t border-[#2A5678] bg-gradient-to-br from-[#32678B] to-[#0587B5];
		box-shadow: inset 1px 1px 2px #5485a8;
	}
	.bg-gacha-retry {
		@apply border-t border-[#4b1e29] bg-gradient-to-br from-[#6D424A] to-[#97200C];
		box-shadow: inset 1px 1px 2px #825767;
	}
	.text-shadow {
		text-shadow: 1px 1px 2px black;
	}
	.neon-gacha-gold {
		filter: drop-shadow(0 0 10px rgb(222 173 0 / 30%)) sepia(0.2);
	}
	.neon-best-item {
		@apply border border-white;
		filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8));
	}
	.animation-flare {
		animation: 40s linear 0s flare;
		animation-iteration-count: infinite;
	}
	.border-gacha-title {
		@apply border-transparent;
		border-image: linear-gradient(
				to left,
				transparent,
				#f9ca8b 20%,
				#f9ca8b 80%,
				transparent
			)
			1;
	}
}
